@import "social.master.css";

.text-warning {
  color: #ffd700;
}

.disable{

}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #bbb;
  opacity: 1;

/*  do mesmo jeito;*/
}
/* stop the glowing blue shadow */
.form-inside .form-control, .form-inside .form-control:focus {
  box-shadow:none;
 -webkit-box-shadow:none;
  border:none;
}

.form-inside .form-control {
  width: 80px;
  display: inline;
}

.form-inside {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 140px;
  border-radius: 4px;
  padding: 2px;
  display: inline-block;

}

.form-inside-icon {
  margin: 2px;
}

.feedback-response {
  padding: 8px;
}

.block {
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #999;
  margin: 10px 0px 0px;
}

.block-list {
  margin-top: 10px;
}

.block-list-item {
  border-top: 1px solid #ddd;
  vertical-align:middle;
  padding: 10px 0px;
}

.icon-default {
  color: #888;
  padding: 3px;
 }

.icon-default:hover, .icon-default:focus {
  color: #444;
  padding: 3px;
  transition: 0.4s;
}

.click tr {
  cursor: pointer;
}

.text-link {
  color: #006db0;
}

.text-link:hover {
  color: #308dd0;
}

.table-hover tr {
  cursor: pointer;
}

.table-vertical-align>tbody>tr>td{
  vertical-align: middle;
}
  
.photo-button {
  background-color: #FFF !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  height: 25px !important;
  padding: 0 !important;
  margin: 5px 0 15px 0 !important;
}

.panel {
  margin-bottom: 10px;
}

.panel-daily .panel-heading {
  background-color: #fff;
}

/* estilos ordenação */

.sortHolder {
  margin: 5px 0px;
  border-radius: 10px;
  border: 3px dotted #308dd0;

}

.sortFocus {
  opacity: 0.9;
  transform: rotate(-2deg);
}

/* select form-multiple*/
.selected-teacher {
  margin-left: 5px;
  margin-top: 5px;
}

.panel-form-multiple {
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.panel-form-multiple input:focus{
  border:none;
}

.label-select-multiple {
  background-color: #f5f5f5;
  padding: 0px 10px;
  color: #333;
  height: 30px;
  font-weight: normal;
  border-radius: 25px;
  font-size: 12px;
  position: relative;
  display: inline-block;
}

.label-image {
  margin-left: -3px;
  display: inline-block;
  height: 30px;
  margin-right: 6px;
  overflow: hidden;
  padding: 2px 0;
  vertical-align: middle;
}

.label-image img {
  height: 100%;
}

.label-name {
  display: inline-block;
  max-width: 338px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.label-remove {
  vertical-align: middle;
  display: inline-block;
}

.hover {
  color:#262626;
  text-decoration:none;
  background-color:#f5f5f5;
}

.list-user {
  margin-top: 15px;
}

.avatar-small {

}

.mr {
  margin-right: 15px;
}

.ml {
  margin-left: 15px;
}

ul.dropdown-menu a > i.fa {
  padding: 0 5px 0 0;
}

.dropdown-menu > li > a {
	font-size: 12px;
}