@import "social.master.css";

.panel {
  margin-bottom: 10px;
}

.panel-daily .panel-heading {
  background-color: #fff;
}

div.list-group a > i.fa {
  padding: 0 10px 0 0;
}

.center {
  margin: auto;
}

.pd-bottom {
  padding-bottom: 20px;
}