@font-face {
    font-family: Oregano;
    src: url(../fonts/Oregano-Regular.ttf);
}

@font-face {
   font-family: Dosis;
   font-weight: lighter;
   src: url(../fonts/Dosis-Light.ttf);
}

@font-face {
   font-family: Dosis;
   font-weight: normal;
   src: url(../fonts/Dosis-Book.ttf);
}

@font-face {
   font-family: Dosis;
   font-weight: bold;
   src: url(../fonts/Dosis-Bold.ttf);
}

@font-face {
   font-family: Cabin;
   src: url(../fonts/Cabin-Bold.ttf);
}

html, body {
    font-family: 'Open Sans';
    font-size: 14px;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    margin: 5px 0px !important;
}

.bold {
  font-weight: bold;
}

.logo {
    width: 250px;
}

/*CLASSES DE CONTAINER*/
.w100 {
    width: 100%;
}

.w60 {
    width: 60%;
}

.w40 {
    width: 40%;
}

.w1x {
    width: 150px;
}

/*CLASSES DE ESPAÇAMENTO*/
.push1x {
   height: 30px;
}

.push2x {
   height: 60px;
}

/*CLASSES DE TEXTO*/

.text-blue {
  color: #006090  ;
}

.text-white {
    color: #fff;
}

.text-link {
    color: #fff;
}

.text-link:hover {
    color: #fff;
}

.text-sm {
  font-size: 10px;
}

.panel-notification {
  border:none;
  border-radius: 3px;
  box-shadow: 0px 0px 2px rgba(0,0,0,.6);
}

.notification-lesson {
  border-left: 8px solid #006db0;
}

.notification-exam {
  border-left: 8px solid #E87E04;
}

.panel-notification .panel-body {
  padding: 10px 15px;
}

.panel-notification .notification-header {
  margin-bottom: 10px;
}

.panel-notification .notification-title {
  font-size: 13px;
}

.badge-danger {
  background-color: #d9534f;
}

.tooltip-inner {
  background-color: #006db0;
  color: #fff;
  border: none;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #006db0;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #006db0;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #006db0;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #006db0;
}


/*CLASSES DE DISPLAY*/
.visible-none {
    display: none;
}

/*CLASSES DE FORMULARIO*/

.control-label {
  margin: 0px;
}

.help-block {
  margin: 2px 0px;
}


.click {
    cursor: pointer;
}

/*CLASSES DE BOTÕES*/

.btn-shadow {
    box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.5);
}

.btn-facebook {
  background-color: #3b5998;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.btn-google {
  background-color: #dd4b39;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover {
  background-color: #2b4988;
  color: #fff;
}

.btn-google:hover {
  background-color: #cd3b29;
  color: #fff;
}

.btn:focus {
    color: #fff !important;
}

.btn-student {
    background-color: #E74C3C;
    color: #fff;
}

.btn-student:hover {
    background-color: #C0392B;
    color: #fff;
}

.btn-teacher {
    background-color: #2ECC71;
    color: #fff;
}

.btn-teacher:hover {
    background-color: #27AE60;
    color: #fff;
}

.btn-fx-300 {
   width: 300px;
}

.btn-primary {
  color: #fff;
  background-color: #0088ca;
  border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #006090;
  transition: 0.4s;
}


/* BACKGROUNDS*/

.bg-white {
  background-color: #fff;
}

.input-1x {

  width: 200px;
}

.input-border-none {
  box-shadow:none;
 -webkit-box-shadow:none;
  border:none;
  padding: 0px;
  height: 20px;
  margin: 2px;
}

.input-border-none:focus {
  box-shadow:none;
 -webkit-box-shadow:none;
  border:none;
  border-radius: 0px;
  border-bottom: 1px solid #006db0;
  padding: 0px;
  height: 20px;
}

.input-border-bottom {
  border-bottom: 1px solid #006db0;
  border-radius: 0px;
  margin-top: 8px;
}

.logo-min {
  margin-top: -6px;
  height: 20px;
}

.model {
  display: none !important;
}

@media(min-width:768px) and (max-width: 991px) {
  .w60 {
    width: 80%;
  }
}


@media(max-width: 767px) {
    .w100 {
        width: 100%;
    }

    .w60, .w40 {
        width: 100%;
    }

    .h-md {

    }

    .btn-fx-300 {
        width: 100%;
    }
}
