#img-libreclass {
  max-width: 8em;
  margin-bottom: 2em;
}

ul.help-list {
  margin: 1.5em 0;
}

ul.help-list ul {
  margin: 0.5em 0;
}

ul.help-list li {
  margin: 0.5em 0;
}

ul.help-list ul li {
  color: #0088ca;
  cursor: pointer;
}

ul.help-list ul li:hover {
  color: #00488a;
  cursor: pointer;
}

li a:hover {
  text-decoration: none;
}

.color-blue, h4 {
  color: #0088ca;
}

p {
  text-align: justify;
}