@import "master.css";

.topo {
  background-color: #fff;
  box-shadow: 0px 0px 7px #444;
}

.home {
  background-color: #4183D7;
}

.menu {
  height: 70px;
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

}

.menu-icon {
  align-self: center;
  margin-right: 15px;
}

.menu-icon i {
  margin: 0px;
  padding: 0px;
}

.menu-logo {
  align-self: center;
}

.menu-list {
  align-self: center;
  justify-content: flex-end;
  flex-grow: 2;
}

.menu-list ul {
  margin: 0px;
}

.menu ul li a {
  font-size: 14px;
  margin-right: 25px;
}

.menu a {
  text-decoration: none;
  color: #444;
}

.dropdown ul li a {
  font-size: 11px;
}

.featured {
  margin-top: 70px;
  padding: 80px 0px;
}

.midia-container{
	margin-top: 0px;
  padding: 40px 0px;
	border-bottom: solid 1px #f2f2f2;
}

.titulo-midia{
	text-align: center;
	margin-bottom: 60px;
}

.img-midia{
	display: flex;
	justify-content: center;
}

.img-midia img{
	max-width: 150px;
	cursor: pointer;
}

.btn-master {
  border: 2px solid #fff;
  border-radius: 0px;
  color: #fff;
}

.text-lg {
  font-size: 40px;
}

.logomarca {
  width: 250px;
}

.plans {
  padding: 15px 0px;
}

.footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.panel-default .panel-heading {
  background-color: #fff;
}

.thumbnail-card-sm {
  height: 250px;
  padding: 20px;
}

.thumbnail-card-sm img {
  height: 80px;
  margin-bottom: 15px;
}

.menu-slider {
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: #fff;
  z-index: 9999;
  top: 0;
  padding: 15px;
  left: 0;
  -webkit-transform: translateX(-250px);
  -moz-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  transform: translateX(-250px);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}

.menu-slider li {
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
}

.menu-slider li a {
  color: #222;
  text-decoration: none;
}

.bg-color2 {
  background-color: #F5F8F9;
}


.panel-plans {
  border: 3px solid #aaa;

}

.panel-plans .panel-body ul li {
  margin: 10px 0px;
}

.panel-plans hr {
  margin: 0px 15px;
}

.panel-plans .panel-heading {
  border-bottom: 0;
}

.panel-plans .panel-footer {
  background-color: transparent;
  border: 0;
}

.tachado {
  text-decoration:line-through;
}

.img-sm {
  max-width: 150px;
}

.text-xs {
  font-size: 12px;
}

/** LOGIN  */

.container-login {
  width: 400px;
  margin-top: 30px;
}

.container-login .logomarca {
  width: 200px;
}

.panel-login {
  background-color: #F5F8F9;
  padding: 30px;
  box-shadow: 2px 2px 1px #ccc;
}

#form-login .form-help {
  margin-top: 15px;
  color: #333 !important;
}

.form-help a {
  color: #333;
}

.form-help ul {
  margin: 0px;
}

.btn {
  box-shadow: none;
}

.dropdown-menu li a {
  margin: 0px !important;
}

@media(max-width:991px){
  .text-lg {
    font-size: 30px;
    text-align: center;
  }

  .menu {
    height: 60px;
    margin: 0px -15px;
  }

  .featured {
    margin-top: 0px;
    padding: 80px 0px;
  }
  .featured h3 {
    font-size: 16px;
  }

  .featured img {
    max-width: 250px;
  }


  .menu-logo {
    align-self: center;
    margin-top: -10px;
  }

  .menu-list .btn {
    vertical-align: auto;
  }

  .menu-logo img {
    width: 250px;
  }

  .cortina {
    background-color: #111;
    opacity: 0.5;
    position: fixed;
    z-index: 1031;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    display: none;

  }

  .menu-ativo {
     box-shadow: 1px 1px 5px #000;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .plans {
    padding: 15px 0px;
    width: 100%;
  }


}

@media (max-width:480px) {

  .container-login {
    width: 100%;
    margin-top: 15px;
  }

  .panel-login {
    background-color: #fff;
    padding: 15px;
    box-shadow: none;
  }
}
